<form id="new-DiscountVoucher" name="newDiscountVoucher" class="form-horizontal">
    <div class="control-group">
    </div>
    <div class="control-group">
    </div>
    <div class="control-group">
        <label for="voucherCode" class="control-label">VoucherCode</label>
        <div class="controls">
            <input id="voucherCode" name="voucherCode" type="text"  ng-model="discountVoucher.voucherCode" placeholder="Enter the DiscountVoucher voucherCode"></input>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <button id="saveDiscountVoucher" name="saveDiscountVoucher" class="btn btn-primary" ng-disabled="isClean() || newDiscountVoucher.$invalid" ng-click="save()"><i class="icon-ok-sign icon-white"></i> Save</button>
            <button id="cancel" name="cancel" class="btn" ng-click="cancel()"><i class="icon-remove-sign"></i> Cancel</button>
            <button id="deleteDiscountVoucher" name="deleteDiscountVoucher" class="btn" ng-show="discountvoucher.id" ng-click="remove()"><i class="icon-trash"></i> Delete</button>
        </div>
    <div>
</form>